@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-header : 'Montserrat', 'sans-serif';
  --font-body : 'Gantari', 'sans-serif';
}

body {
  font-family: var(--font-body);
}